*{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}
.main-page{
    background-image: url(../assets/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #504f4f;
}
.header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header ul li{
    display: flex;
    align-items: center;
    padding: 40px 5px;
    margin-right: 45px;
    transition: 1s;
}
.header ul li:hover{
    border-bottom: 1px solid white;
}
.header ul a{
    color: #9E9E9E;
    text-decoration: none;
    transition: 0.5s;
}
.header ul a:hover{
    color: white;
}

#logo{
    height: 100px;
    width: 100px;
}
#logo:hover{
    border-bottom: 1px solid white;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9E9E9E;
}
main h2{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
main .lorem-paragraph{
    color: #646464;
    font-size: 12px;
    font-weight: bolder;
}

.client-box{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.client-box img{
    height: 160px;
    width: 140px;
}

.box{
    background-color: #dddada;
    width: 400px;
    height: 140px;
    padding: 10px 25px;
}
.box h3{
    font-size: 22px;
}
.box h4{
    font-size: 15px;
    font-weight: 100;
    color: #9E9E9E;
    margin-bottom: 20px;
}
.box p{
    font-size: 14px;
    font-weight: bolder;
}

/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2A2A2A;
    color: #646464;
    height: 30vh;
}

.creator{
    border-right: 1px solid #646464;
    padding-right: 100px;
}
.creator p{
    width: 300px;
    font-size: 15px;
    margin-bottom: 10px;
}
.creator h3{
    font-size: 18px;
    font-weight: 100;
}
.creator span{
    font-weight: bold;
}

.list-items{
    display: flex;
    align-items: center;
    border-right: 1px solid #646464;
    padding-right: 100px;
}

.first-list{
    margin-right: 50px;
}
.first-list li, .second-list li{
    display: block;
    align-items: center;
    padding: 5px;
}
.first-list a, .second-list a{
    color: #646464;
    text-decoration: none;
    transition: 0.5s;
}
.first-list a:hover, .second-list a:hover{
    color: white;
}

.contacts p{
    margin-bottom: 15px;
    transition: 0.5s;
}
.contacts p:hover{
    color: white;
    cursor: pointer;
}
