*{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}
.main-page{
    background-image: url(../assets/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Header */

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #504f4f;
}
.header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header ul li{
    display: flex;
    align-items: center;
    padding: 40px 5px;
    margin-right: 45px;
}
.header ul li:hover{
    border-bottom: 1px solid white;
}
.header ul a{
    color: #9E9E9E;
    text-decoration: none;
}
.header ul a:hover{
    color: white;
}

#logo{
    height: 100px;
    width: 100px;
}
#logo:hover{
    border-bottom: 1px solid white;
}

/* Main */
main{
    color: #9E9E9E;
}

.web-hosting{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.web-hosting img{
    max-width: 100%;
}

.hosting-elements h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}
.hosting-elements h4{
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 20px;
}
.hosting-elements span{
    text-decoration: line-through;
}
.hosting-elements h5{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}
.hosting-elements button{
    height: 50px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
}
.hosting-elements button:hover{
    background-color: #2FAC6C;
    color: white;
}

.box-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12%;
}
.box-item{
    background-color: #2FAC6C;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}
.box-item:hover{
    background-color: #21424A;
    color: white;
}
.box h2{
    font-size: 27px;
}
.box p{
    font-size: 14px;
    width: 245px;
}