*{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}
.main-page{
    background-image: url(../assets/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Header */

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #504f4f;
}
.header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header ul li{
    display: flex;
    align-items: center;
    padding: 40px 5px;
    margin-right: 45px;
    transition: 1s;
}
.header ul li:hover{
    border-bottom: 1px solid white;
}
.header ul a{
    color: #9E9E9E;
    text-decoration: none;
    transition: 0.5s;
}
.header ul a:hover{
    color: white;
}

#logo{
    height: 100px;
    width: 100px;
}
#logo:hover{
    border-bottom: 1px solid white;
}

/* Main */
main{
    color: #9E9E9E;
}

/* Premium Domain */
.premium-domain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    border-bottom: 1px solid #504f4f;
}
.premium-domain h3{
    text-transform: uppercase;
}
.premium-domain h2{
    font-size: 50px;
    margin-top: 30px;
}
.premium-domain h4{
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.premium-domain h4:hover{
    color: white;
}

.offer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
.offer button{
    height: 46px;
    padding: 11px 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.5s;
    background-color: #2FAC6C;
    color: white;
    cursor: pointer;
}
.offer button:hover{
    background-color: #21424A;
}

.input-box input{
    height: 20px;
    padding: 11px 14px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.input-box i{
    position: relative;
    right: 27px;
}

.premium-domain span{
    font-size: 15px;
    margin-bottom: 30px;
}

.domain-btn{
    height: 46px;
    padding: 11px 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: 0.5s;
    background-color: #21424A;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}
.domain-btn:hover{
    background-color: #2FAC6C;
}

/* Domains For Sale */
.domains-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}
.domains-page h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.domain-paragraph{
    margin-bottom: 20px;
    font-size: 14px;
}

.domain-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.domain{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #646464;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}
.domain p{
    transition: 1s;
    cursor: pointer;
}
.domain p:hover{
    color: #9E9E9E;
}
.domain button{
    height: 40px;
    padding: 11px 20px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: 0.5s;
    background-color: #2FAC6C;
    color: white;
    cursor: pointer;
    margin-left: 72px;
}
.domain button:hover{
    background-color: #21424A;
}
/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2A2A2A;
    color: #646464;
    height: 30vh;
}

.creator{
    border-right: 1px solid #646464;
    padding-right: 100px;
}
.creator p{
    width: 300px;
    font-size: 15px;
    margin-bottom: 10px;
}
.creator h3{
    font-size: 18px;
    font-weight: 100;
}
.creator span{
    font-weight: bold;
}

.list-items{
    display: flex;
    align-items: center;
    border-right: 1px solid #646464;
    padding-right: 100px;
}

.first-list{
    margin-right: 50px;
}
.first-list li, .second-list li{
    display: block;
    align-items: center;
    padding: 5px;
}
.first-list a, .second-list a{
    color: #646464;
    text-decoration: none;
    transition: 0.5s;
}
.first-list a:hover, .second-list a:hover{
    color: white;
}

.contacts p{
    margin-bottom: 15px;
    transition: 0.5s;
}
.contacts p:hover{
    color: white;
    cursor: pointer;
}